<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .site-layout {
            width: 100%;
            height: 100%;
            background-color: white;
            border: none;     
        }
        .printitem{
            padding-left: 60px;
        }
        .comment{
            overflow-wrap: break-word;
        }
        @media print{

        button{
                visibility: hidden; 
            }   
        .printitem{
            padding-left: 70px;
        }


}


    </style>

</head>
<body>
    <div class="site-layout">
        <h2 style="text-align: center; font-size: 50px; padding-top: 10px;">TAPTEL - Threat Ellicitation Report</h2>

        <div *ngIf="dataservice.misuseGenerated">
            <h1 style="text-align: center; font-size: 40px; padding-top: 10px;">MISUSE CASES</h1>
        <p class="printitem" style="text-align: center;">These are the Misusecases you generated in the Tree analysis Step</p>

        <div class="printitem" *ngFor="let MC of misuseCases" style="display: block;">
            <p style="text-align: center;">__________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
            <div class = " MUCDetails">
                <h1 style="text-align: center;">MUC{{MC.id}} - {{MC.activTree.rootNode.label}}<br>{{MC.activTree.parentDfd.label}}</h1>
    
                <div>
                    <p style="margin-bottom: 0;"><b>Main Threat Tree: </b></p>
                    <p style = "padding-left: 15px;">{{MC.activTree.rootNode.nodeId}} - {{MC.activTree.rootNode.label}} - <b>{{MC.activTree.parentDfd.label}}</b></p> <!--break nach jedem item-->
                </div>
    
                <div>
                    <p style="margin-bottom: 0;"><b>Misactors: </b></p>
                    <p *ngFor="let misactor of MC.getMisactors()"style = "padding-left: 15px; margin:0;">{{misactor}}</p> <!--break nach jedem item-->
                </div>
    
                <div>
                    <p style="margin-bottom: 0;"><b>Affected Data:</b></p>
                    <div *ngFor="let data of MC.activTree.parentDfd.datafields.split('\n')">
                        <p style = "padding-left: 15px; padding-top: 0px;">{{data}}</p>
                    </div>
                </div>
                <p style="margin-bottom: 0;"><b>Active Threat Nodes</b></p>
                <div *ngFor="let n of MC.activNodes" style = "padding-left: 15px;">
                    <div>
                        <p style="margin-top: 10px;"><b>{{n.nodeId}} - {{n.tree.parentDfd.label}} - {{n.label}} </b></p>
                        <p style = "padding-left: 15px;margin-bottom: 0;" *ngFor =" let checkbox of getCheckboxesAsColl(n.checkboxes)"> - {{checkbox}}</p>
                        <p *ngIf="n.comment != ''" class="comment" style = "padding-left: 15px;"><b>Comment:</b> {{n.comment}}</p>
                    </div>
                </div>
                <p *ngIf = "MC.commentMisuse != ''"><b>Comment on Misuse case:</b> <br>{{MC.commentMisuse}}</p>
                </div>
            </div>
        </div>
        
        <div *ngIf="dataservice.assumptions!=null && dataservice.assumptions.length>0">
            <h1 style="text-align: center; font-size: 40px; padding-top: 10px;">Assumptions</h1>
            <p class="printitem" style="text-align: center;">These are the Assumptions you provided in the Mapping Step</p>
            <div class="printitem" *ngFor="let assumption of assumptions">
                <p style="text-align: center;">__________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
                <h1>A{{assumption.id}} - {{assumption.name}}<br></h1>
                <p><b>Affected Scope:</b> {{assumption.scope}}<br></p>
                <p><b>Description:</b></p>
                <p *ngIf = "assumption.description!= ''" class="comment"> {{assumption.description}}</p>
            </div>
        </div>
        

        <div *ngIf="dataservice.newAssumptions!=null && dataservice.newAssumptions.length>0">
            <h1 style="text-align: center; font-size: 40px; padding-top: 10px;">New Assumptions from Threat Ellicitation</h1>
            <p class="printitem" style="text-align: center;" >These are the Assumptions generated by the Threat Trees from nodes you kept inactive but provided a comment for</p>
            <div class="printitem" *ngFor="let newassumption of newAssumptions">
                <p style="text-align: center;">__________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
                <h1>NA{{newassumption.id}} - {{newassumption.name}}<br></h1>
                <p><b>Affected Scope:</b> {{newassumption.scope}}<br></p>
                <p><b>Description:</b></p>
                <p *ngIf = "newassumption.description != ''" class="comment">{{newassumption.description}}</p>
            </div>
        </div>
        

        
        

    </div>


    <button style="position: fixed; right: 20px; bottom: 1px; z-index: 2000;" class="botnavitem btn btn-primary" type="button" (click)="print()">Print</button>
     
</body>
</html>